* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    width: auto;
    background-image: url(../img/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    color: #fff;
  }

  .container-form1 {
    width: auto;
    height: auto;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
  }
  
  .welcome-back1 {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .message1 {
    padding: 1rem;
  }
  
  .message1 h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
  }
  
  .message1 button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
  }
  
  .message1 button:hover {
    background-color: #6464f8;
  }
  
  .formulario1 {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
    color: white;
  }
  
  .create-account1 {
    padding: 1.3rem 0;
    font-size: 1.3rem;
    color: white;
  }
  
  .iconos1 {
    width: 170px;
    font-size: larger;
    display: flex;
    justify-content: space-around;
    margin: auto;
    color: rgb(146, 155, 255);
   
  }
  
  .border-icon1 {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin rgba(151, 158, 207, 0.921);
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}
  
  .border-icon1:hover {
    background-color: #4a4aee;
    cursor: pointer;
  }
  
  .cuenta-gratis1 {
    padding: 2rem 0;
    color: white;
  }
  
  .formulario1 input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
  }
  
  .formulario1 input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
  }
  
  .sign-in1 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  

  #Font1{
    font-family: 'Oswald', sans-serif;

  }

.rdt_Table{
background-color: #4a4aee;
color: #fff;
}
.rdt_TableRow{
  background-color: #040444;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
}
.rdt_TableCol{
  background-image: url(../img/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.rdt_TableCell{
  background-color: #0e1120;
  color: white;
}

  